html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #fdf6e3;
}

header, footer {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}

.logo {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

#contents, #favs, #facts, #types {
  color: #93a1a1;
}

.wrapper > .dfn {
  background-color: #b58900;
}

.dfn p + strong {
  color: #fff;
}

nav ul li:first-child a {
  background-color: #719e07;
}

nav ul li:nth-child(3) a {
  background-color: #719e07;
}

nav ul li:last-child a {
  background-color: #719e07;
}

main ul li:nth-child(3) a:link {
  background-color: #2694d8;
}

main ul li:first-child a {
  background-color: #719e07;
}

ol li:first-child {
  color: #719e47;
}

ol li:last-child {
  color: #2aa198;
}

.types li:nth-child(odd) {
  background-color: #657ba3;
}

.types li:nth-child(even) {
  background-color: #586e75;
}

.types li:nth-child(3n+3) {
  background-color: #d04b16;
}
